In [1]:
import pandas as pd

df = pd.DataFrame ({
    "Name" : [
        "Beni Samuel",
        "Ishimwe Hirwa"
    ],
    "Class" : [
        "Year 1one",
        "Year 2two"
    ]
})

df.to_csv("sample_one.csv",index=False)

NameError: name 'false' is not defined

In [8]:
df

            Name      Class
0    Beni Samuel  Year 1one
1  Ishimwe Hirwa  Year 2two

In [3]:
class_students = pd.DataFrame (
    {
        "name" : [
            "Beni samuel",
            "Laurent",
            "Wigo",
            "Cristian",
        ],
        "tech" : [
            "Full Stack | Mobile Developer | Data Scientist | Cyber Security ",
            "Mobile Developer | Web Developer ",
            "FullStack Web Developer | OS Explorer ",
            "Software Engineer"
        ]
    }
)

class_students.to_csv("sample_two.csv",index=False)